.container{     /*style for whole container*/
    width:100%;
    height:100vh;        /*---vh will add color to full sheet but if we use % only content area*/
    background-color: yellowgreen;
    justify-content: center;
    display: flex;
    align-items: center;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.title{ /*style for title*/
    text-align:center;
    color:beige;
}

.child{   /*style for form element*/
    
    border: 5px solid beige;
    border-radius: 20px;
    padding:5px; /*space between border and content*/
    box-shadow: 2px 1px 40px black;
}

.grp{
    display: flex;
    justify-content: space-between;
    padding: 4px;   
}

label{
    flex:4;
}

.col{
    flex:6;
    
}

input{
    padding:5px;
    border:none;
    outline:none;
    border-radius: 10px;
}

/*contact details*/

.row{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

}

.btn{
    width:100%;
    display: flex;
    justify-content: space-around;
    padding:4px;
}

.bt{
    background-color: beige;
    color:purple;
    
}